<% include partials/header %>
  <!-- Navigation Section -->
  <body id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand" style="color: orange"><em>Galen D. Burson</em></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/#explore-head-section" class="nav-link">Travel</a>
            </li>
            <li class="nav-item">
              <a href="/#create-head-section" class="nav-link">Create</a>
            </li>
            <li class="nav-item">
              <a href="/#share-head-section" class="nav-link">Share</a>
            </li>
            <li class="nav-item">
              <a href="about" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
              <a href="family" class="nav-link">Family Gallery</a>
            </li>
             <li class="nav-item">
              <a href="contact" class="nav-link">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- HOME SECTION -->
    <header id="home-section">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-4 d-none d-lg-block">
                <h1 class="display-4"><strong>PEOPLE</strong> care about you, not your <strong>SUCCESS.</strong>  <strong>RELAX </strong> and enjoy <strong>LIFE.</strong></h1>
                <div class="d-flex flex-row">
                  <div class="p-4 align-self-start">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="p-4 align-self-end">
                    Keep a gratitude journal or several (one by your bed, one in your purse, and one at work) to help you remember all the things that are good in your life.   
                  </div>
                </div>

                <div class="d-flex flex-row">
                  <div class="p-4 align-self-start">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="p-4 align-self-end">
                    Being grateful for your blessings cancels out negative thoughts and worries.  Use these journals to savor good experiences like a child’s smile, a sunshine-filled day, and good health.
                  </div>
                </div>

                <div class="d-flex flex-row">
                  <div class="p-4 align-self-start">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="p-4 align-self-end">
                    Don’t forget to celebrate accomplishments like mastering a new task at work or a new hobby.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- TRAVEL HEAD -->
    <section id="explore-head-section">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-5">
              <h1 class="display-4">Travel</h1>
              <p class="lead">Travel while you’re young and able. Don’t worry about money, just make it work. The experience is far more valuable than money will ever be. Travel is the only thing you buy that makes you richer.</p>
              <a href="contact" class="btn btn-outline-secondary">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- TRAVEL SECTION -->
    <section id="explore-section" class="bg-light text-muted py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="imgs/ship.JPG" alt="Cruise Ship" class="img-fluid mb-3 rounded-circle">
          </div>
          <div class="col-md-6">
            <h3>Time to Get Away</h3>
            <p>Life can get pretty damn monotonous. On the road to figuring out who we are, we find ourselves becoming victims of routine. Our lives become about habits and schedules and we stop seeing the world in front of us. We live for the days, weeks and months ahead. We let the stress of our jobs, homes and relationships wear us down until we can no longer see the beauty in our daily life.</p>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                
              </div>
              <div class="p-4 align-self-end">
                It’s time to take a break, or maybe shake things up for good. It's time to get out of town and experience something new. It's time to take that trip to Europe you've been planning for sixteen years or visit your friends in Spain who've now stopped inviting you.
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
               
              </div>
              <div class="p-4 align-self-end">
                It's time to get out. It's time to ignite the senses again and remember all the wonderful things in life. It's time to rattle things up, open your mind, change the scenery.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space">
        <p>take up space Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
      </div>
    </section>

    <!-- CREATE HEAD -->
    <section id="create-head-section" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-5">
              <h1 class="display-4">Create Your Passion</h1>
              <p class="lead">Hobbies let you explore interests outside of your line of work. They let you be creative and try all kinds of new things. If you're bored with your old hobby, picking a different one can get your creative juices flowing again.</p>
              <a href="contact" class="btn btn-outline-light">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CREATE SECTION -->
    <section id="create-section" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Traveling Kindness Rocks</h3>
            <p>Travelling Kindness Rocks is a worldwide giving project where free painted mandala rocks are sent to those who need a little cheer.</p>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
               
              </div>
              <div class="p-4 align-self-end">
                Mandala Stones are the latest trend in the craft world to go viral. The colorfully dotted patterns are a real eyecatcher and easy to recreate. By now you can admire a great many of different patterns and interpretations of Mandala Stones all over the world.
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <!-- <i class="fa fa-check"></i> -->
                <img src="imgs/rock10.JPG" alt="" class="img-fluid mb-3 rounded-circle">
              </div>
              <div class="p-4 align-self-end">
                  
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- <img src="img/rock10.jpg" alt="" class="img-fluid mb-3 rounded-circle"> -->

            <iframe width="560" height="315" src="https://www.youtube.com/embed/TK8iHsDXGvQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
          </div>
        </div>
      </div>
    </section>


    <!-- SHARE HEAD -->
    <section id="share-head-section" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-5">
              <h1 class="display-4">Share Your Time</h1>
              <p class="lead">There is no one busy in this world, it’s all about priorities.  You will always find time for the things you feel important.</p>
              <a href="contact" class="btn btn-outline-light">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SHARE SECTION -->
    <section id="share-section" class="py-5 bg-light text-muted">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="imgs/monks.JPG" alt="" class="img-fluid mb-3 rounded-circle">
          </div>
          <div class="col-md-6">
            <h3>Be A Volunteer</h3>
            <p> Everyone benefits when someone chooses to volunteer! Volunteers are essential to providing quality services to the residents of our community. Community members of all ages are encouraged to show pride and get involved in civic activities through volunteer work</p>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                
              </div>
              <div class="p-4 align-self-end">
                <h3>Start a Non-Profit</h3>
                 Overwhelmingly, the reason that people create a nonprofit is to make a difference. You have a passion about a certain cause, or maybe you're personally affected by it in some way. Nonprofits provide for their communities in ways that the business sector and government can't.
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                
              </div>
              <div class="p-4 align-self-end">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN FOOTER -->
    <footer id="main-footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-4">
              <h1 class="h3">Gladiator Web Design</h1>
              <p>Copyright &copy; 2018</p>
              <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Me</button>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- CONTACT MODAL -->
    <div class="modal fade text-dark" id="contactModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactModalTitle">Contact Me</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>

