<% include partials/header %>
  <!-- Navigation Section -->
  <body id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand" style="color: orange"><em>Galen D. Burson</em></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/#explore-head-section" class="nav-link">Travel</a>
            </li>
            <li class="nav-item">
              <a href="/#create-head-section" class="nav-link">Create</a>
            </li>
            <li class="nav-item">
              <a href="/#share-head-section" class="nav-link">Share</a>
            </li>
            <li class="nav-item">
              <a href="about" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
              <a href="family" class="nav-link">Family Gallery</a>
            </li>
             <li class="nav-item">
              <a href="contact" class="nav-link">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- HOME SECTION ABOUTME-->
    <header id="home-section-aboutme">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="">
                <div class="image-container">
                  <h1>About Me</h1>
                  <img class="gallery-image" src="imgs/profile.jpg">
                  <p>I’m Galen and I really enjoy what I’m now able to do.  Meeting new and interesting people from all over the world is great!<br><br>
                  I grew up in a very blue-collar household just sixty miles east of where I currently live.  Both my parents are still around and kicking.  My mom was an entrepreneur; at one point owning her own real estate business and assisted living facilities.  My dad worked at an oil refinery for over 30 years and at 81 years old is still working today (not at the oil refinery).  The number-one lesson my dad taught me, and to this day is the guiding principle in my life, is to never be anywhere where you’re not wanted.  Don’t ever be a follower, be a leader.<br><br>
                  I was very fortunate growing up in the inner city.  Education was always important, so much so, that I never missed a day of school (that includes summer school).  I received an award for perfect attendance the day of my high school graduation. <br><br> I went to college in the OC and played football.  During my senior year while working on my math/engineering degree, I decided to take a part-time law enforcement position at a very young age (I was 20 years old when hired and I needed a job).<br><br>  Needless to say, my career path took a drastic turn.  
                  I love law enforcement.  Telling people what to do is awesome (because they must do it).  My knowledge and skills allowed me to take advantage of numerous opportunities.  I received extensive training in computers and collision reconstruction.  I spent the bulk of my early years working in the OC.  I became lead investigator on the most complex investigations and I provided expert testimony in numerous court cases.  I also rode a motorcycle both as field officer and supervisor.  Although I worked all over the state in places like Los Angeles, Inland Empire, the OC, Sacramento, Santa Barbara…., I ended my career in the OC as air operations supervisor for LA, Orange, and San Diego county. <br> <br>
                  Immediately after retiring, I became an Assistant Sergeant-at-Arms for the state legislator.  I spent six years providing security and transportation for four different house speakers and one senate pro tempore.  <br><br>
                  I enjoy travelling.  Asia is one of my favorite places to visit.  My most favorite place is Singapore, although I’ve been to Shenzhen, Hong Kong, Malesia, Thailand, Vietnam and a few other places I can’t recall.  The Caribbean is also nice.   <br><br>
                  I’ve never believe that I’m the smartest person in the room, so I listen for smarter and wiser people than myself and take their advice.  I recall the day I showed up to my first assignment as a brand-new rookie.  As I walked through the hallway trying to find my way to the briefing room, a much senior officer stopped me to talk.  Well, he really wanted to give me some words of wisdom.  He was at the end of his career and wished things had turned out a little differently.  I remember him looking me in the eyes and giving me two pieces of advice:   number-one, take care of your health and number two, save your money.  I don’t remember the name of the officer but thank you. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- HOME HEAD SECTION ABOUT ME-->
    <section id="head-section-aboutme">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-5">
              <h1 class="display-4">Go Forth And Be Happy</h1>
             
            </div>
          </div>
        </div>
      </div>
    </section>






 <!-- MAIN FOOTER -->
    <footer id="main-footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-4">
              <h1 class="h3">Gladiator Web Design</h1>
              <p>Copyright &copy; 2018</p>
              <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Me</button>
            </div>
          </div>
        </div>
      </div>
    </footer>

   <!-- CONTACT MODAL -->
    <div class="modal fade text-dark" id="contactModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactModalTitle">Contact Me</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>
	

<% include partials/footer %>

