<% include partials/header %>

  <!-- Navigation Section -->
  <body id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand" style="color: orange"><em>Galen D. Burson</em></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/#explore-head-section" class="nav-link">Travel</a>
            </li>
            <li class="nav-item">
              <a href="/#create-head-section" class="nav-link">Create</a>
            </li>
            <li class="nav-item">
              <a href="/#share-head-section" class="nav-link">Share</a>
            </li>
            <li class="nav-item">
              <a href="about" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
              <a href="family" class="nav-link">Family Gallery</a>
            </li>
             <li class="nav-item">
              <a href="contact" class="nav-link">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- HOME SECTION -->
    <header id="home-section-aboutme">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-none d-lg-block">
                <h1 class="display-4" style="color: black; font-size: 100px; padding-top: 100px;">Contact Me</h1>
                <p>Got a question? Love to hear from you.  Send me a message and I'll respond as soon a possible.  Have a wonderful day.</p>
              </div>
              <div class="col-lg-4">
                <div class="card bg-primary text-center card-form">
                  <div class="card-body">
                    <h3>Contact Me Today</h3>
                    <p>Please fill out this form</p>
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input class="form-control" type="text" placeholder="First Name, Last Name">
                      </div>
                      <div class="form-group">
                       <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Telephone</label>
                        <input class="form-control" type="text" placeholder="Telephone">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Message</label>
                         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                      </div>
                      <input type="submit" class="btn btn-outline-light btn-block">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


<% include partials/footer %>

